body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(242, 254, 255);
}

form {
  width: 30rem;
  margin: auto;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

section {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  color: rgb(66, 76, 97);
  display: block;
  margin: 0.5rem 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(152, 159, 184);
  padding: 0.5rem;
  color: rgb(61, 61, 61);
  border-radius: 4px;
  background-color: white;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: rgb(217, 227, 247);
}

textarea {
  resize: none;
}

.form-inline-control {
  display: flex;
}

.form-inline-control label {
    margin: 0;
}

.form-inline-control input {
  width: auto;
  margin: 0;
  margin-right: 0.5rem;
}

#button {
  display: flex;
  justify-content: right;
  gap: 0.3rem;
}

button {
  margin-top: 1rem;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

#clear {
  background-color: transparent;
  color: rgb(61, 61, 61);
  border: 2px solid rgb(124, 109, 141);
}

#clear:hover {
background-color: rgb(208, 215, 230);
}

#submit {
  background-color: rgb(32, 5, 63);
  color: white;
  border: 2px solid rgb(32, 5, 63);
}

#submit:hover {
    background-color: rgb(69, 89, 129);
    border-color: rgb(69, 89, 129);
}
