body {
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 30rem;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
}

label {
  display: block;
  margin: 0.3rem 0;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 61, 61);
  border-radius: 4px;
  background-color: white;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

#reply .form-inline-control {
  display: flex;
}

#reply .form-inline-control input {
  width: auto;
  margin-right: 0.5rem;
}

#terms {
    display: flex;
    margin-top: 0.5rem;
}

#terms input {
    width: auto;
}

#button {
  display: flex;
  justify-content: right;
  gap: 0.3rem;
}

button {
  margin-top: 1rem;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

#clear {
  background-color: aliceblue;
  border: 2px solid rgb(124, 109, 141);
}

#submit {
  font: inherit;
  background-color: rgb(32, 5, 63);
  color: white;
  border: 2px solid rgb(32, 5, 63);
}
