<%-include('../../shared/includes/head', {pageTitle: 'Success!'}) %>
</head>
<body>
    <%-include('../../shared/includes/header')%>
    <main>
        <h1>Order Placed!</h1>
        <p>Thank you for purchasing! Visit <a href="/orders">Orders</a> for more details.</p>
    </main>
<%-include('../../shared/includes/footer')%>